@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700;800&display=swap');
body {
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    font-family: 'Karla', sans-serif;
   
}